@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../src/images/background.png), url(../src/images/loadingImg.gif) no-repeat, url(../src/images/haha.gif) top right no-repeat, url(../src/images/pikachu.gif) bottom left no-repeat, url(../src/images/das.gif) bottom right no-repeat;
  background-size: 200px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
